#sam managed files
.aws-sam

#aws packaged yaml
packaged.yaml

#food csv files
fndds_foods.csv
fndds_nutrients.csv
fndds_portions.csv

#lambda compressed
process_message_lambda.zip

#aws_layer
aws_layer/

# Environments
.env
.venv
.venv_lambda/

# complied python scripts
__pycache__/
# Finder folder attributes
.DS_Store