#sam managed files
.aws-sam

#aws packaged yaml
packaged.yaml

#food csv files
fndds_foods.csv
fndds_nutrients.csv
fndds_portions.csv
lambda_functions/process_message_lambda/lambda_environment/thalos_fndds_portions.csv
lambda_functions/process_message_lambda/lambda_environment/thalos_fndds_nutrients.csv
lambda_functions/process_message_lambda/lambda_environment/thalos_fndds_foods.csv
lambda_functions/process_message_lambda/lambda_environment/full_food_code_lookup_sep_16.csv
lambda_functions/process_message_lambda/lambda_environment/05_thalos_fndds_and_sr_nutrients.csv
lambda_functions/process_message_lambda/lambda_environment/04_fndds_and_sr_legacy_food_portions.csv
lambda_functions/process_message_lambda/lambda_environment/03_fndds_and_sr_legacy_food_descriptions.csv

lambda_functions/process_message_lambda/lambda_environment/03_fndds_and_sr_legacy_food_descriptions.csv
#lambda compressed
process_message_lambda.zip

#aws_layer
aws_layer/

# Environments
.env
.venv
.venv_lambda/

# complied python scripts
__pycache__/
# Finder folder attributes
.DS_Store