<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Site</title>
    {% load static %}
</head>
<body>
    <h1>Welcome to Prepasto!</h1>
    <p>Prepasto is a service to help people track their nutrition. You send messages describing the food you eat to Prepasto and we will reply with our best estimate of the nutritional content of that food. Currently we are operating in beta. We are offering the service at no charge to our first group of users, in exchange for their help in improving our service. In the future, we plan to charge a modest subscription fee for our service. Prepasto is a service of Birdcardless, LLC.</p>\
    <img src="{% static 'main_app/images/prepasto_logo.png' %}">
</body>
</html>
