{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- 'items-center' will center items horizontally when they're in a column and center them vertically when they're in a row -->
<div class="flex flex-col md:flex-row items-center justify-between"> 
    <div class="md:w-1/2 mb-8 md:mb-0">
        <h1 class="text-4xl font-bold mb-4">Automated Nutrition Tracking You Can Trust</h1>
        <p class="text-xl text-600 mb-6">Accurately tracking your food should be simple. Prepasto does the busywork</p>
        <!-- Try it button: -->
        <a href="https://wa.me/14153476103?text=Hello%20Prepasto!" class="inline-flex items-center bg-red-400 font-semibold text-white px-6 py-3 rounded-lg hover:bg-red-500 transition duration-300">
            <img src={% static 'main_app/images/whatsapp_logo.svg' %} alt="WhatsApp Logo" class="w-5 h-5 mr-2"/>
            Try it now!
        </a>
    </div>
    <div class="md:w-1/2">
        <img src={% static 'main_app/images/product_screenshot_v2.png' %} alt="Whatsapp Screenshot" class="w-full h-auto max-w-xs rounded-lg shadow-lg">            
    </div>
</div>
{% endblock %}